* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v16_296 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v16_309 {
  width: 277px;
  height: 397px;
  background: url("../images/v16_309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 228px;
  border: 0px solid rgba(127,125,125,0.3400000035762787);
  overflow: hidden;
}
.v16_310 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 663px;
  left: 228px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_312 {
  width: 40px;
  color: rgba(36,218,78,1);
  position: absolute;
  top: 698px;
  left: 228px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v16_313 {
  width: 277px;
  height: 397px;
  background: url("../images/v16_313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 611px;
  border: 1px solid rgba(127,125,125,0.3400000035762787);
  overflow: hidden;
}
.v16_314 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 663px;
  left: 611px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_316 {
  width: 46px;
  color: rgba(255,118,125,1);
  position: absolute;
  top: 698px;
  left: 611px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v19_104 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18px;
  left: 39px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v19_105 {
  width: 106px;
  color: rgba(127,125,125,1);
  position: absolute;
  top: 34px;
  left: 219px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v74_2 {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 219px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v19_106 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 405px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v19_110 {
  width: 608px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 628px;
  border: 1px solid rgba(127,125,125,0.3400000035762787);
  overflow: hidden;
}
.v19_111 {
  width: 87px;
  height: 48px;
  background: rgba(199,23,32,0.8899999856948853);
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1245px;
  overflow: hidden;
}
.v19_112 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 34px;
  left: 1251px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v102_219 {
  width: 180px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 460px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v102_220 {
  width: 263px;
  color: rgba(0,91,182,1);
  position: absolute;
  top: 140px;
  left: 761px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v102_221 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 202px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v107_269 {
  width: 162px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 1126px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v175_23 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 1628px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v175_31 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 1474px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 0.8999999761581421;
  text-align: left;
}
.v175_45 {
  width: 64px;
  height: 64px;
  background: url("../images/v175_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1780px;
  overflow: hidden;
}
.v175_55 {
  width: 35px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 34px;
  left: 1844px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v185_6 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 140px;
  left: 1376px;
  font-family: Itim;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
